<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Contact Manager</title>
</head>
<body>
    <div class="container">
        <h1>Contact Manager</h1><hr>

        <div class="form-container">
            <h2>add contact</h2>
            <form id="addContactForm">
                <input type="text" id="name" placeholder="name" required>
                <input type="text" id="number" placeholder="number" required>
                <button type="submit">add contact</button>
            </form>
        </div>

        <div class="form-container">
            <h2>search contact</h2>
            <input type="text" id="searchInput" placeholder="name or number">
            <button type="button" id="searchButton">search</button>
        </div>

        <div class="form-container">
            <h2>contact list</h2>
            <ul id="contactList"></ul>
        </div>
    </div>

    <script type="module" src="../js/main.js"></script>
    
</body>
</html>